.service ul li {
	width:200px;
	background-color: #fff;
	padding:40px 20px;
	margin-left:20px;
	font-size:15px;
	line-height:20px;
	text-align: center;
	height:300px;
	box-shadow:0 0 10px #ccc;
	transition:.3s;
	cursor: pointer;
}
.service li>p{
	height:200px;
	margin-top:25px;
	color:#333;
	overflow: hidden;
}
.service li>h3{
	padding:10px 0;
}
.service li>.iconfont{
	color:#00BFFF;
	font-size:45px;
}
.service {
	position: relative;
}
.service ul{
	position: absolute;
	top:50%;
	left:50%;
	margin-left:-480px;
	margin-top:-150px;
}
.service ul li:hover{
		box-shadow:0 0 20px #999;
		transform:translateY(-20px);
}
*{
	-ms-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}