.wrapper{
	margin:0 auto;
	width:960px;
	position: absolute;
	margin-top:-75px;
	top:50%;
	text-align :left;
	left:50%;
	margin-left:-480px;
	
}
.footer-logo{
	width: 150px;
	height: 150px;
}
.footer{
	position: relative;
}
.footer ul>li{
	color:#666;
	font-size:20px;
	padding:0 40px;
	line-height:50px;
}
.footer ul>li a:hover{
	color:#000;
	transition:.2s;
}
.idea{
	font-size:30px;
	padding:15px;
	text-align: center;
	color:#00BFFF;
	border-top:1px solid #bbb;
	margin-top:15px;
}
.copyright{
	font-size:15px;
	color:#666;
	text-align: center;
}
