.header{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff);    /*IE8支持*/
}

.mainbox>div>div.bg{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000) !important;    /*IE8支持*/
}
#sidebar{
	margin-top:15%;
	top:0;
	position: absolute;
	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff); 
}