#sidebar{
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 100px;
	margin-top: 15%;
	background: rgba(255,255,255,0.65);
	border-radius:10px 0 0 10px ;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff,endColorstr=#99ffffff); 
}

